div#wrapp{
  display:grid;
  position:relative;
  width:70vw;
  height:500px;
  margin:0px auto 10px auto;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-gap:10px;
}

section{
  display:flex;
  position:relative;
  background-color:var(--gf);
  justify-content:center;
  align-items:center;
}
