@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&=Anton&family=Bebas+Neue&family=Josefin+Sans:wght@200&family=Lora&family=Roboto+Serif:wght@100&family=Rowdies:wght@300;700&display=swap');

h1{
  font-size:3.4rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif;
  color:var(--verd);
  line-height:5.5rem;
}

h2{
  font-size:2.6rem;
  font-weight:700;n
  font-family: "Josefin Sans", sans-serif;
  color:var(--turquessa);
  line-height:4.2rem;
}
h3{
  font-size:2rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:var(--negre);
  line-height:3.24rem;
}
h4{
  font-size:1.8rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:var(--verd);
  line-height:2.92rem;
}
h5{
  font-size:1.6rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:var(--turquessa);
  line-height:2.58rem;
}

h6{
  font-size:1.4rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:var(--negre);
  line-height:2.26rem;
}

p{
  margin:1.1618rem 0;
  font-family:"Inter", sans-serif ;
  font-size:1.4rem;
  line-height: 1.618;
}

button{
  cursor: pointer;
  width: 150px;
  margin-top: 10px;
  border-radius: 10px;
  font-family:"Josefin Sans", sans-serif ;
  border: none;
}

button#registrar-se{
  position: absolute;
  background-color:var(--verd);
  top:7%;
  right:160px;
  height: 32px;
  width:130px;
  font-size:1.25rem;
  font-weight:700;
  color:white;
  line-height:2rem;
}

button#unoa{
  position: absolute;
  background-color:var(--verd);
  top:7%;
  right:20px;
  height:32px;
  width:130px;
  font-size:1.25rem;
  font-weight:700;
  color:white;
  line-height:2rem;
}

button#unob{
  position: absolute;
  background-color:var(--verd);
  top:3 %;
  left:20px;
  color:white;
  height:60px;
  width: 100px;
  margin-bottom:10px;
  font-size:1.6rem;
  font-weight:700;
  line-height:3.80rem;
}


button#unoc{
  position: absolute;
  background-color:var(--verd);
  top:3 %;
  left:20px;
  color:white;
  height:60px;
  width: 100px;
  margin-bottom:10px;
  font-size:1.6rem;
  font-weight:700;
  line-height:3.80rem;
}

button#dos{
  background-color:var(--verd);
  color:var(--negre);
  height: 50px;
  font-size:1.6rem;
  font-weight:700;
  line-height:2.58rem;
}

button#tres{
  background-color:var(--turquessa);
  color:white;
  height: 60px;
  margin-bottom: 10px;
  font-size:1.6rem;
  font-weight:700;
  line-height:2.58rem;
}

button#registrar-se:hover{
  background-color: var(--turquessa);
}

button#unoa:hover{
  background-color: var(--turquessa);
}

button#unob:hover{
  background-color: var(--turquessa);
}

button#unoc:hover{
  background-color: var(--turquessa);
}

button#dos:hover{
  background-color:var(--turquessa);
}

button#tres:hover{
  background-color:var(--verd);
}

input#seis{
  font-size: 1.4rem;
  height: 40px;
  width: 300px;
  font-family:"Josefin Sans", sans-serif ;
  color:var(--verd);
  border-bottom-color: black;
  border-top: none;
  border-left: none;
  border-right:  none;
  outline:none;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
}

input#siete{
  font-size: 1.4rem;
  height: 40px;
  width: 300px;
  font-family:"Josefin Sans", sans-serif ;
  color:var(--verd);
  border-bottom-color: black;
  border-top: none;
  border-left: none;
  border-right:  none;
  outline:none;
  margin-bottom: 20px;
}

#div_paragref_qui_som{
  height: 400px;
  width: auto;
  margin: 30px 30px 30px 30px;
}

#eslogan{
  height: 30px;
  width: auto;
  text-align: center;
  margin: -200px 30px 90px 30px;
}

/* amplada */
::-webkit-scrollbar {
  width: 13px;
}

/* Fons */
::-webkit-scrollbar-track {
  background: #5E5E5E;
}

/* Color normal de l'escroll */
::-webkit-scrollbar-thumb {
  background: #47DD2E ;
  transition:all 300ms ease-in-out;
}

/* Color seleccionat de l'escroll */
::-webkit-scrollbar-thumb:hover {
  background: #2EBFDD;
  transition:all 300ms ease-in-out;
}

*{margin:0;
padding:0;}

.menu-btn{
  display:block;
  position:absolute;
  width:70px;
  height:70px;
  left:25px;
  top:25px;
  border-radius: 10px;
  background-color:var(--verd);
  cursor:pointer;
  transition:all 250ms ease;
}

.content-menu{
  display:flex;
  position:absolute;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  left:-30vw;
  width:20vw;
  height:50.2vh;
  border-radius: 10px;
  background-color:#91dee4;
  transition:all 500ms ease-in-out;
  z-index:800;
}

.content-menu button{
  background-color:transparent;
  padding:25px 0;
  font-size:1.5rem;
  border:none;
  color:white;
  cursor:pointer;
  transition:all 250ms ease;
}

.show-content{
  left:0vw;
}

#caixa_menu{
  height: 70px;
  width: 70px;
  justify-content: center;

}
