.candau2{
  height:90px;
  width:90px;
}

footer{
  display:flex;
  position:relative;
  justify-content: space-evenly;
  align-items:center;
  width:100%;
  min-height:100px;
  margin:0;
  padding:0;
  background-color:var(--verd);
  font-family:sans-serif;
  font-size:1.4rem;
  line-height:1.618rem;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

 footer div#info{
   display:flex;
   position:relative;
   color:white;
   height:100px;
   flex-direction:column;
   justify-content:center;
   align-items:flex-start;
 }

 footer div#centre{
   display:grid;
   grid-template-columns:repeat(4, 1fr);
   grid-template-rows:50px 1px 40px 75px;
   position:relative;
   min-height:150px;
   width:275px;
 }

  footer div#centre span{
    display:flex;
    color:white;
    justify-content:center;
    align-items:center;
    padding:80px 0 0 0;
    transition: all 300ms ease;
  }

 footer div#centre span:nth-child(1):hover{
   color:#0025A2;
   transition: all 300ms ease;
 }

 footer div#centre span:nth-child(2):hover{
   color:#FF6C00;
   transition: all 300ms ease;
 }

 footer div#centre span:nth-child(3):hover{
   color:#009BFF;
   transition: all 300ms ease;
 }

 footer div#centre span:nth-child(4):hover{
   color:#F53B19;
   transition: all 300ms ease;
 }
