.logo{
  display:block;
  position:absolute;
  transform:translate(-50%, -50%);
  top:5%;
  left:50%;
  width:350px;
  cursor:pointer;
}

.menu{
  display:block;
  position:absolute;
  transform:translate(-50%, -50%);
  top:27%;
  left:5%;
  width:70px;
  cursor:pointer;
}
